**/**/.idea
**/**/.ipynb_checkpoints
**/**/out
**/**/*.zip
**/**/~\.**#
**/**/**\.tmp
**/**/**\.log
data\-process/lab1/julia/\_\_latexindent_temp.tex
data-process/lab2/__latexindent_temp.tex
**/**/\.ccls*
\.ccls*
**/**/build
**/**/*o
**/**/*bin
**/**/*\.make
**/**/*\.cmake
**/**/*\.out
**/**/Makefile2
**/**/check_cache
**/**/*\.marks
**/**/target
**/**/cmake-build-debug/
**/**/*.tar**
**/**/*.docx
